<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <%- include ('partials/head.html')%>
    
    

</head>
<body>
    
    <%- include ('partials/navigation.html')%>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text center">
                <img src="img/Japanese.png" class="animate__animated animate__jello " alt="Kanji del idioma japones">
            </div>

        </header>
    </div>

    <!-- SECTION ONE-->

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fas fa-language fa-10x"></i>

            </div>

            <div class="col-sm-6">
                <h3>ここに日本語を勉強に行きます。</h3>
                <p>私の名前はエンマヌエルです。大学でコンピューターの科学を勉強します。これは私の一番オンラインページです。
                    一緒に日本語とプログラミングの事を習います。有難う御座いました。
                </p>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.html')%>
    
</body>
</html>